// Colors

$purple1:       #0D0D21;
$purple2:       #141426;

$primary:       $purple1;
$secondary:     $purple2;
$lightPurle:    #353a51;
$brightPurple:  #FF00FF;

$white:         #cfcfcf;
$lighterBlue:   #2980b9;
$darkblue:      #3247E6;
$required:      #D90429;
$alert-red:     #c0392b;

$gradient:      linear-gradient(0, $purple1, $purple2);

$yellow:        #fff200;

@keyframes slideDown {
    0%, 100% { -webkit-transform: translateY(-150px); }
    10%, 90% { -webkit-transform: translateY(0px); }
}

